body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}

/* Arrow to return to the main page */
#backToMain {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0a7bff;
  font-size: 14px;
}

#returnIcon:hover {
  cursor: pointer;
}
/***********/

/* Subsystem file */
.subsystem-control {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

a {
  font-size: inherit;
  color: white;
  text-decoration: none;
}
/*******************/

/* Question Mark */
#infoIcon {
  display: inline-block;
  width: 20px;
  font-size: 15px;
  background-color: #666;
  color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 5px; /* Adjust the margin as needed */
}

#infoIcon:hover {
  background-color: #333; /* Darken the background on hover if desired */
}

#infoMessage {
  margin-bottom: 12px;
}
/**************/

#app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.light-control {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 0;
  color: #666; 
}

/* Additional styles for the new light panel */
#newPanel {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

#newForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

#newForm label {
  margin-bottom: 5px;
}

#newForm input,
#newForm select,
#newForm button {
  margin-bottom: 10px;
}

/* Optional: Add some spacing between lights */
.light-control + .light-control {
  margin-top: 15px;
}

 /*Responsive Styles*/ 

@media (max-width: 600px) {
  #app {
    padding: 15px;
  }

  .light-control {
    padding: 10px;
  }

  button {
    padding: 6px 12px;
    margin-top: 8px;
  }
}


/* Emotions page style */
/* Add specific styles for the lights configuration page */
.configurationPanel, #recommendationPanel, #lightsControlModes {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.configurationForm, #recommendationForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.configurationForm label {
  margin-bottom: 5px;
}

.configurationForm input,
.configurationForm select,
.configurationForm button {
  margin-bottom: 10px;
}
